<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrikaziVesti</servlet-name>
        <servlet-class>servlets.PrikaziVesti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrikaziSveDogadjaje</servlet-name>
        <servlet-class>servlets.PrikaziSveDogadjaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodavanjeVesti</servlet-name>
        <servlet-class>servlets.DodavanjeVesti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzlistajSveVesti</servlet-name>
        <servlet-class>servlets.IzlistajSveVesti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObrisiVest</servlet-name>
        <servlet-class>servlets.ObrisiVest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmeniVest</servlet-name>
        <servlet-class>servlets.IzmeniVest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PristupiIzmenama</servlet-name>
        <servlet-class>servlets.PristupiIzmenama</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmeniKontakt</servlet-name>
        <servlet-class>servlets.IzmeniKontakt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PristupiIzmenamaKontakta</servlet-name>
        <servlet-class>servlets.PristupiIzmenamaKontakta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodavanjeDogadjaja</servlet-name>
        <servlet-class>servlets.DodavanjeDogadjaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzlistajSveDogadjaje</servlet-name>
        <servlet-class>servlets.IzlistajSveDogadjaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmeniDogadjaj</servlet-name>
        <servlet-class>servlets.IzmeniDogadjaj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObrisiDogadjaj</servlet-name>
        <servlet-class>servlets.ObrisiDogadjaj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PristupiIzmenamaDogadjaja</servlet-name>
        <servlet-class>servlets.PristupiIzmenamaDogadjaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzlistajAktivne</servlet-name>
        <servlet-class>servlets.IzlistajAktivne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzlistajNeaktivne</servlet-name>
        <servlet-class>servlets.IzlistajNeaktivne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObrisiAlumnia</servlet-name>
        <servlet-class>servlets.ObrisiAlumnia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodavanjeKorisnika</servlet-name>
        <servlet-class>servlets.DodavanjeKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PristupiIzmenamaProfila</servlet-name>
        <servlet-class>servlets.PristupiIzmenamaProfila</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PretraziClanove</servlet-name>
        <servlet-class>servlets.PretraziClanove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrikaziDetaljeKorisnika</servlet-name>
        <servlet-class>servlets.PrikaziDetaljeKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Uplata</servlet-name>
        <servlet-class>servlets.Uplata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PregledUplata</servlet-name>
        <servlet-class>servlets.PregledUplata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PregledUplataBlagajnik</servlet-name>
        <servlet-class>servlets.PregledUplataBlagajnik</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzlistajKorisnike</servlet-name>
        <servlet-class>servlets.IzlistajKorisnike</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AktivirajKorisnika</servlet-name>
        <servlet-class>servlets.AktivirajKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeaktivirajKorisnika</servlet-name>
        <servlet-class>servlets.DeaktivirajKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrikaziClanovePocetna</servlet-name>
        <servlet-class>servlets.PrikaziClanovePocetna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrikaziKontakt</servlet-name>
        <servlet-class>servlets.PrikaziKontakt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromenaSifre</servlet-name>
        <servlet-class>servlets.PromenaSifre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registracija</servlet-name>
        <servlet-class>servlets.Registracija</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrikaziVesti</servlet-name>
        <url-pattern>/PrikaziVesti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrikaziSveDogadjaje</servlet-name>
        <url-pattern>/PrikaziSveDogadjaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodavanjeVesti</servlet-name>
        <url-pattern>/DodavanjeVesti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzlistajSveVesti</servlet-name>
        <url-pattern>/IzlistajSveVesti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObrisiVest</servlet-name>
        <url-pattern>/ObrisiVest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmeniVest</servlet-name>
        <url-pattern>/IzmeniVest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PristupiIzmenama</servlet-name>
        <url-pattern>/PristupiIzmenama</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmeniKontakt</servlet-name>
        <url-pattern>/IzmeniKontakt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PristupiIzmenamaKontakta</servlet-name>
        <url-pattern>/PristupiIzmenamaKontakta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodavanjeDogadjaja</servlet-name>
        <url-pattern>/DodavanjeDogadjaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzlistajSveDogadjaje</servlet-name>
        <url-pattern>/IzlistajSveDogadjaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmeniDogadjaj</servlet-name>
        <url-pattern>/IzmeniDogadjaj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObrisiDogadjaj</servlet-name>
        <url-pattern>/ObrisiDogadjaj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PristupiIzmenamaDogadjaja</servlet-name>
        <url-pattern>/PristupiIzmenamaDogadjaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzlistajAktivne</servlet-name>
        <url-pattern>/IzlistajAktivne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzlistajNeaktivne</servlet-name>
        <url-pattern>/IzlistajNeaktivne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObrisiAlumnia</servlet-name>
        <url-pattern>/ObrisiAlumnia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodavanjeKorisnika</servlet-name>
        <url-pattern>/DodavanjeKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PristupiIzmenamaProfila</servlet-name>
        <url-pattern>/PristupiIzmenamaProfila</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PretraziClanove</servlet-name>
        <url-pattern>/PretraziClanove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrikaziDetaljeKorisnika</servlet-name>
        <url-pattern>/PrikaziDetaljeKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Uplata</servlet-name>
        <url-pattern>/Uplata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PregledUplata</servlet-name>
        <url-pattern>/PregledUplata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PregledUplataBlagajnik</servlet-name>
        <url-pattern>/PregledUplataBlagajnik</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzlistajKorisnike</servlet-name>
        <url-pattern>/IzlistajKorisnike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AktivirajKorisnika</servlet-name>
        <url-pattern>/AktivirajKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeaktivirajKorisnika</servlet-name>
        <url-pattern>/DeaktivirajKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrikaziClanovePocetna</servlet-name>
        <url-pattern>/PrikaziClanovePocetna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrikaziKontakt</servlet-name>
        <url-pattern>/PrikaziKontakt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromenaSifre</servlet-name>
        <url-pattern>/PromenaSifre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registracija</servlet-name>
        <url-pattern>/Registracija</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
